@{
    ViewBag.Title = "Hướng dẫn";
    ViewBag.TitleBar = "Hướng dẫn sử dụng chương trình";
}

<h2>
	Hãy cho tôi biết về chuyến đi của bạn, chúng tôi sẽ giúp bạn tìm những giá vé rẽ nhất của các hãng:
	Vietnam Airlines, Jetstar, và Mekong Air.
</h2>