<div id="dlgCity">
	<table>
		<tr>
			<td>
				<h2>Miền Bắc</h2>
				<li class="ui-widget-content">Hà Nội</li>	
				<li class="ui-widget-content">Hải Phòng</li>
				<li class="ui-widget-content">Điện Biên</li>
				<h2>Miền Trung</h2>
				<li class="ui-widget-content">Vinh</li>
				<li class="ui-widget-content">Huế</li>
				<li class="ui-widget-content">Đồng Hới</li>
				<li class="ui-widget-content">Đà Nẵng</li>
				<li class="ui-widget-content">Pleiku</li>
				<li class="ui-widget-content">Tuy Hòa</li>
			</td>
			<td>
				<h2>Miền Nam</h2>
				<li class="ui-widget-content">Hồ Chí Minh</li>
				<li class="ui-widget-content">Nha Trang</li>
				<li class="ui-widget-content">Đà Lạt</li>
				<li class="ui-widget-content">Phú Quốc</li>
				<li class="ui-widget-content">Tam Kỳ</li>
				<li class="ui-widget-content">Qui Nhơn</li>
				<li class="ui-widget-content">Cần Thơ</li>
				<li class="ui-widget-content">Côn Đảo</li>
				<li class="ui-widget-content">Ban Mê Thuột</li>
				<li class="ui-widget-content">Rạch Giá</li>
				<li class="ui-widget-content">Cà Mau</li>
			</td>
		</tr>
	</table>
</div>