@{
    ViewBag.Title = "Thông tin";
}

<h1>Thông tin về nhóm</h1>

<div class="member">
	<article>
		<div class="avatar"><img src="../../Images/0912021.JPG" alt="0912021"/></div>
        <div class="information">
            <h5>Lê Nguyễn Thiện Ân</h5>
            <ul>
                <li><span class="label">MSSV:</span> 0912021</li>
                <li><span class="label">Email: </span>thienan289@gmail.com</li>
                <li><span class="label">SĐT: </span>0978942383</li>
            </ul>
        </div>
	</article>
	<article>
		<div class="avatar"><img src="../../Images/0912041.JPG" alt="0912041"/></div>
		<div class="information">
			<h5>Lê Huy Chương</h5>
			<ul>
				<li><span class="label">MSSV: </span>0912041</li>
				<li><span class="label">Email: </span>huychuongctt@gmail.com</li>
				<li><span class="label">SĐT: </span>01695630670</li>
			</ul>
		</div>
	</article>
</div>