@{
    ViewBag.Title = "Thông tin";
}

<h1>Thông tin về nhóm</h1>

<div class="member">
	<article>
		<div class="avatar"><img src=""/></div>
		<div class="information">
			<h5>Lê Nguyễn Thiện Ân</h5>
			<ul>
				<li>MSSV: 0912021</li>
				<li>Email: thienan289@gmail.com</li>
				<li>SĐT: 0978942383</li>
			</ul>
		</div>
	</article>
	<article>
		<div class="avatar"><img src=""/></div>
		<div class="information">
			<h5>Lê Huy Chương</h5>
			<ul>
				<li>MSSV: 0912041</li>
				<li>Email: huychuongctt@gmail.com</li>
				<li>SĐT: 01695630670</li>
			</ul>
		</div>
	</article>
</div>